# =====================================================
# Zotero configuration
# =====================================================

ZOTERO_LIBRARY_ID   = 'xxxx'   # Votre ID Zotero
ZOTERO_LIBRARY_TYPE = 'group'      # 'group' ou 'user'
ZOTERO_API_KEY      = 'xxxx'   # Votre clé API personnelle
COLLECTION_KEY      = 'xxxx'       # Clé de la collection cible
